.list{
    
    display: flex;
    width: 100%;
.listContainer{
    
    flex: 6
    
    }
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    border-radius: .5rem !important; 
    padding: .1rem .5rem;
}

.search{
    display: flex;
    align-items: center;
    border: 0.5px solid lightgray;
    padding: 3px;
    margin-left: 20px;
    margin-right: 10px;
}

.line{
    display: flex;
    align-items: center;
        margin-bottom: -10px;
        margin-top: 10px;
}